 @* tablets *@

<style>
    .bg-gradient-primary {
        background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    }

    .card-header h5, .card-header i {
        font-size: 1.25rem;
    }

        .card-header i.fas.fa-calculator {
            font-size: 1.5rem;
        }

    .table-borderless td, .table-borderless th {
        padding: .75rem;
    }

    .table-responsive {
        margin-top: 10px;
    }
</style>
 
@if (User.IsInRole("Admin"))

{
    <div class="container-fluid bg-light mt-3 mb-4 animate__animated  animate__fadeIn">
        <div class="px-4 mb-4">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">

                    


                    <h3 class="fw-600 text-dark-primary text-capitalize pt-3">Tablets</h3>

                    <div class="d-flex flex-wrap justify-content-between align-items-center my-3">

                        <div class="d-flex flex-wrap text-capitalize align-items-center">
                            <p class="mb-0 pb-0 fw-bold text-dark-primary"><a asp-controller="Home" asp-action="Index">Dashboard</a></p>
                            <i class="bi bi-chevron-right pagination-arrow text-dark-primary"></i>
                            <p class="mb-0 pb-0 text-dark">Tablet's List</p>
                        </div>

                        <div class="d-flex justify-content-start gap-1 flex-wrap bg-primary/">
                            <a asp-controller="Tablet" asp-action="Create" class="btn btn-primary me-1 mw-120 py-2 px-4 rounded-pill text-capitalize me-1">
                                <i class="bi bi-plus-circle me-2"></i> Add New Tablet
                            </a>

                            <button class="btn btn-success me-1 rounded-pill px-4" id="list">
                                <i class="fa-solid fa-list-ul fs-18"></i>
                            </button>
                        </div>

                    </div>
                    <!-- list view -->
                    <div class="list-show bg-white rounded-10 my-3 p-4">
                        <table class="table custom-data-table table-striped table-hover jakarta" id="doctorlist">
                            <thead class="table-primary">
                                <tr>
                                    <td class="">Name</td>
                                    <td class="">Model</td>
                                    <td class="">Dies</td>
                                    <td class="">Pressure</td>
                                    <td class="">Diameter</td>
                                    <td class="">Depth</td>
                                    <td class="">Capacity</td>
                                    <td class="">Machine Size</td>
                                    <td class="">Net Weight</td>

                                    <td class="no-sort">Action</td>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dose in Model)
                                {
                                    <tr>
                                        <td>@dose.MedName</td>
                                        <td>@dose.ModelNum</td>
                                        <td>@dose.Dies</td>
                                        <td>@dose.MaxPres</td>
                                        <td>@dose.Diameter</td>
                                        <td>@dose.Depth</td>
                                        <td>@dose.ProdCapacity</td>
                                        <td>@dose.MachineSize</td>
                                        <td>@dose.NetWeight</td>

                                        <td>
                                            <div class="dropdown">
                                                <button class="btn rounded-10" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi bi-three-dots-vertical"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-end p-0 border-0 rounded-10 bg-transparent">
                                                    <div class="animate slideIn card bg-white rounded-2">
                                                        <ul class="list-unstyled mb-0">
                                                            <li>
                                                                <form asp-controller="Tablet" asp-action="Edit" asp-route-id="@dose.Id" method="get">
                                                                    <button type="submit" class="dropdown-item text-dark-primary py-2 fw-500 fs-14">
                                                                        <i class="bi bi-pen-fill me-2 fs-12"></i> Edit
                                                                    </button>
                                                                </form>
                                                            </li>
                                                            <li>
                                                                <form asp-controller="Tablet" asp-action="Delete" asp-route-id="@dose.Id" method="post">
                                                                    <button type="submit" class="dropdown-item text-dark-primary py-2 fw-500 fs-14">
                                                                        <i class="bi bi-trash-fill me-2 fs-12"></i> Delete
                                                                    </button>
                                                                </form>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- grid view -->
                    <div class="list-hide d-none doctor-list my-3 py-4">
                        <div class="row">
                            @foreach (var dose in Model)
                            {
                                <div class="col-sm-6 col-xl-4 col-xxl-3 mb-4">
                                    <div class="bg-white overflow-hidden shadow-sm doctor-card-main rounded-10">
                                        <div class="d-flex justify-content-center mb-5 doctor-card-bg h-100 doctor-card-bg1 py-5 position-relative">
                                            <div class="card-img doctor-list-img rounded-circle position-absolute bg-white d-flex justify-content-center align-items-center shadow-sm">
                                                <div class="doctor-img-outer d-flex align-items-center justify-content-center overflow-hidden">
                                                    <img src="~/libs/images/tab2.jpg" alt="" class="w-100">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body p-3">
                                            <h5 class="doctor-name fs-5 fw-bold text-capitalize">@dose.MedName</h5>
                                            <p class="fs-12 text-dark fw-500 text-capitalize text-light">Number: @dose.ModelNum</p>
                                            <div class="doctor-about mb-5">
                                                <p class="text-dark fs-14 fw-normal mb-0">
                                                    <strong>Dies:</strong> @dose.Dies<br>
                                                    <strong>Pressure:</strong> @dose.MaxPres<br>
                                                    <strong>Diameter:</strong> @dose.Diameter<br>
                                                    <strong>Depth:</strong> @dose.Depth<br>
                                                    <strong>Capacity:</strong> @dose.ProdCapacity<br>
                                                    <strong>Size:</strong> @dose.MachineSize<br>
                                                    <strong>Weight:</strong> @dose.NetWeight
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

else
{
    @* user *@

    <!-- Hero Start -->
    <!-- Start Hero -->
     <div class="container-fluid animate__animated  animate__fadeIn">
    <section class="bg-half-170 d-table w-100" style="background: url('../assets2/images/bg15.webp')center ; background-repeat:no-repeat;background-size:cover;height:50vh">
        <div class="bg-overlay bg-overlay-dark"></div>
        <div class="container">
            <div class="row mt-5 justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h3 class="sub-title mb-4 text-white title-dark">COMMONLY PRODUCED TABLETS</h3>
                        <p class="para-desc mx-auto text-white-50">Tablets are the most common form of medication, making up about 80% of all pharmaceuticals produced. Tablets come in various forms, including chewable, effervescent..</p>

                        <nav aria-label="breadcrumb" class="d-inline-block mt-3">
                            <ul class="breadcrumb bg-light rounded mb-0 py-1 px-2">
                                <li class="breadcrumb-item"><a>PHARMA CARE</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Tablets</li>
                            </ul>
                        </nav>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section>

    <!--end section-->
    <div class="row justify-content-center mt-5">
        <div class="col-12">
            <div class="section-title text-center mb-4 pb-2">
                <h3 class="title mb-4">WHAT ARE TABLETS ? </h3>
                <p class="text-muted mx-auto para-desc mb-0">
                    A tablet is a pill that is entirely composed of medication. It's made by compressing powdered medicine into a solid, smooth pill.The use of tablets dates back to ancient Egypt, where medicinal tablets were made by combining powdered herbs with honey.
                    Modern tablets can be engineered for controlled release, ensuring that the medication is delivered at a specific rate over a set period. This helps maintain consistent drug levels in the bloodstream.Some tablets combine multiple drugs in a single dosage form, known as fixed-dose combinations (FDCs), which can improve patient adherence to treatment regimens by reducing the number of pills that need to be taken.

                </p>
                <h4 class="title pt-5 ">Explore Our Most Produced Tablets...</h4>





                    


               

            </div>
        </div><!--end col-->
    </div>


    <!--end row-->
    <!--end section-->
    <div class="position-relative">
        <div class="shape overflow-hidden text-color-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!-- Hero End -->
    <!-- Start -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="table-responsive bg-white shadow rounded">
                    
                       
                        <table class="table table-striped table-hover custom-data-table jakarta" id="capsulesTable">
                            <thead class="table-primary">
                                <tr>
                                    <td class=""></td>
                                    <td class="">Tablets Name</td>
                                    <td class="">Model Number</td>
                                    <td class="">Dies Considered</td>
                                    <td class="">Pressure</td>
                                    <td class="">Diameter</td>
                                    <td class="">Depth</td>
                                    <td class="text-center">Production Capacity</td>
                                    <td class="">Machine Size</td>

                                    <td class="no-sort">Net Weight</td>

                                </tr>
                            </thead>
                       

                        <tbody>
                            @foreach (var dose in Model)
                            {
                                <tr>
                                    <td class="h5 p-3 text-center"><a href="#" class="text-danger"><i class="uil uil-times"></i></a></td>
                                    <td class="p-3">
                                        <div class="d-flex align-items-center">
                                            <img src="../assets2/images/tab.jpg" class="img-fluid avatar avatar-small rounded shadow" style="height:50px;" alt="">
                                            <h6 class="mb-0 ms-3">@dose.MedName</h6>
                                        </div>
                                    </td>
                                    <td class="text-center p-3">@dose.ModelNum</td>

                                    <td class="text-center font-weight-bold p-3">@dose.Dies</td>
                                    <td class="text-center font-weight-bold p-3">@dose.MaxPres</td>
                                    <td class="text-center font-weight-bold p-3">@dose.Diameter</td>
                                    <td class="text-center font-weight-bold p-3">@dose.Depth</td>
                                    <td class="text-center font-weight-bold p-3">@dose.ProdCapacity</td>
                                    <td class="text-center font-weight-bold p-3">@dose.MachineSize</td>
                                    <td class="text-center font-weight-bold p-3">@dose.NetWeight</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row mb-4">
            <div class="col-lg-4 col-md-6 ms-auto mt-4 pt-2">
                <div class="card shadow-sm border-0">
                    <div class="card-header text-white d-flex justify-content-between align-items-center" style="background-color:#2F2F75;">
                        <h5 class="mb-0"><i class="fas fa-pills me-2"></i>Subtotal</h5>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <td class="h6">Total Tablets</td>
                                        <td id="capsulesCount" class="text-end font-weight-bold h5"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Add this to your CSS to adjust spacing -->
            <!--end col-->
            <div class="col-md-1"></div>
        </div><!--end row-->
    </div>

    <!--end container-->
    <!--end section-->
    <!-- End -->
    <!-- End -->
    <!-- Start -->
    <footer class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-4 mb-0 mb-md-4 pb-0 pb-md-2">
                    <a class="logo-footer">
                        <img src="../assets2/images/logofinal.png" height="100" alt="">
                    </a>
                    <p class=" me-xl-5">Great pharmacy if you need your family member to get effective immediate assistance,cure or a simple medications.</p>
                </div><!--end col-->

                <div class="col-xl-7 col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="footer-head">PHARMA CARE</h5>
                            <ul class="list-unstyled footer-list mt-4">
                                <li><a asp-area="" asp-controller="Home" asp-action="About" class="text-foot"><i class="mdi mdi-chevron-right me-1"></i> About us</a></li>
                                <li><a asp-area="" asp-controller="Career" asp-action="Create" class="text-foot"><i class="mdi mdi-chevron-right me-1"></i> Careers</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Contact" class="text-foot"><i class="mdi mdi-chevron-right me-1"></i> Contact Us</a></li>

                                <li><a asp-area="" asp-controller="Feed" asp-action="Create" class="text-foot"><i class="mdi mdi-chevron-right me-1"></i> Feedback</a></li>

                            </ul>
                        </div><!--end col-->

                        <div class="col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="footer-head">Products</h5>
                            <ul class="list-unstyled footer-list mt-4">
                                <li><a asp-area="" asp-controller="Tablet" asp-action="Index" class="text-foot"><i class="mdi mdi-chevron-right me-1"></i> Tablets</a></li>
                                <li>
                                    <a asp-area="" asp-controller="Capsules" asp-action="Index" class="text-foot"><i class="mdi mdi-chevron-right me-1"></i> Capsules</a>

                                </li>
                                <li><a asp-area="" asp-controller="Liquid" asp-action="Index" class="text-foot"><i class="mdi mdi-chevron-right me-1"></i> Fillings</a></li>

                            </ul>
                        </div><!--end col-->

                        <div class="col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="footer-head">Contact us</h5>
                            <ul class="list-unstyled footer-list mt-4">
                                <li class="d-flex align-items-center">
                                    <i data-feather="mail" class="fea icon-sm text-foot align-middle"></i>
                                    <a href="mailto:contact@example.com" class="text-foot ms-2">contact@example.com</a>
                                </li>

                                <li class="d-flex align-items-center">
                                    <i data-feather="phone" class="fea icon-sm text-foot align-middle"></i>
                                    <a href="tel:+152534-468-854" class="text-foot ms-2">+152 534-468-854</a>
                                </li>

                                <li class="d-flex align-items-center">
                                    <i data-feather="map-pin" class="fea icon-sm text-foot align-middle"></i>
                                    <a href="javascript:void(0)" class="video-play-icon text-foot ms-2">View on Google map</a>
                                </li>
                            </ul>

                            <ul class="list-unstyled social-icon footer-social mb-0 mt-4">
                                <li class="list-inline-item"><a href="#" class="rounded-pill"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="rounded-pill"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="rounded-pill"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="rounded-pill"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                            </ul><!--end icon-->
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->

    </footer>
    </div>
    <!--end footer-->
}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const listButton = document.getElementById('list');
        const gridButton = document.getElementById('grid');
        const listView = document.querySelector('.list-show');
        const gridView = document.querySelector('.list-hide');

        // Default to list view
        listView.classList.remove('d-none');
        gridView.classList.add('d-none');

        // Initialize DataTable and set placeholder
        if ($("#doctorlist").length > 0) {
            new DataTable('#doctorlist', {
                retrieve: true,
                responsive: true,
                "order": [5, 10, 15],
                lengthMenu: [5, 10, 15],
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }]
            });
        }
        if ($("#doctorlist_filter").length > 0) {
            $("#doctorlist_filter input").attr("placeholder", "Search");
        }

        // List button click event
        listButton.addEventListener('click', function () {
            listView.classList.remove('d-none');
            gridView.classList.add('d-none');
        });

        // Grid button click event
        gridButton.addEventListener('click', function () {
            listView.classList.add('d-none');
            gridView.classList.remove('d-none');
        });
    });

    document.addEventListener('DOMContentLoaded', (event) => {
        // Function to update the count of capsules
        function updateCapsulesCount() {
            // Get the table body rows
            const capsulesTable = document.getElementById('capsulesTable');
            const capsulesCount = capsulesTable.querySelectorAll('tbody tr').length;

            // Update the subtotal section with the count
            document.getElementById('capsulesCount').innerText = capsulesCount;
        }

        // Initial count update on page load
        updateCapsulesCount();
    });
</script>


 



                   